@model List<MyApp.Models.Product>

<h1>Maxsulotlar</h1>

<a asp-action="Create" class="btn btn-primary mt-2">Qo'shish</a>

<h2>Trainsient</h2>
<h4>@TempData["k11"]</h4>
<h4>@TempData["k12"]</h4>

<h2>Scoped</h2>
<h4>@TempData["k21"]</h4>
<h4>@TempData["k22"]</h4>

<h2>Singleton</h2>
<h4>@TempData["k31"]</h4>
<h4>@TempData["k32"]</h4>

<div class="container d-flex justify-content-center flex-wrap my-2">
@foreach(var product in Model){
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Description</p>
            <p class="card-text">$ @product.Price.ToString().Split(",")[0]</p>
            <a href="#" class="btn btn-primary">Batafsil</a>
            <a href="/Product/Edit/@product.Id" class="btn btn-warning">Tahrirlash</a>
            <a href="/Product/Delete/@product.Id" class="btn btn-danger">O'chirish</a>
        </div>
    </div>
}
</div>

@if(Model.Count()==0){
    <h3 class="text-secondary">Maxsulotlar mavjud emas!</h3>
}